/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header .flex-container {
    display: flex;
    background-color: #1F2937;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.header .flex-container .links  {
    margin-left: auto;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: auto;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}

.main .flex-container {
    display: flex;
    background-color: #1F2937;
    height: 400px;
    padding: 50px;
}

.main .flex-container .text {
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.main .flex-container .text .button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    flex: 1;
}

.main .flex-container .text .title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    flex: 1;
}

.main .flex-container .text .body-text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
    color: #E5E7EB;
    flex: 1;
}

.main .flex-container .image {
    max-height: auto;
    min-width: auto;
    object-fit: cover;
    vertical-align: bottom;
    flex: 1;
}

.main .flex-container .image .image-size {
    max-height: auto;
    min-width: auto;
    object-fit: cover;
    vertical-align: bottom;
}

figure { 
    width : 300px;
}

