/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header .flex-container {
    display: flex;
    background-color: #1F2937;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.header .flex-container .links  {
    margin-left: auto;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: auto;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}

.main .flex-container {
    display: flex;
    background-color: #1F2937;
    height: 400px;
    padding: 50px;
}

.main .flex-container .text {
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button {
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    flex: 1;
    outline: 0;
}

.main .flex-container .text .title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    flex: 1;
}

.main .flex-container .text .body-text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
    color: #E5E7EB;
    flex: 1;
}

.main .flex-container .image {
    max-height: auto;
    min-width: auto;
    object-fit: cover;
    vertical-align: bottom;
    flex: 1;
}

.main .flex-container .image .image-size {
    max-height: auto;
    min-width: auto;
    object-fit: cover;
    vertical-align: bottom;
}

figure { 
    width : 300px;
}

.info .one {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
    flex: 1;
    margin-right: auto;
    text-align: center;
}

.info .container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.info .container div {
    object-fit: cover;
    padding: 20px;
    flex: 1, 100, 1%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
}

.info .container .dino {
    border-radius: 12px;
    flex: 1, 1, 50%;
    height: 200px;
    width: 250px;
    border-color: #3882F6;
    border: 3px solid;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote .text {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #1F2937;
    padding: 10px;
    text-align: right;
}

.quote .author {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: bolder;
    color: #1F2937;
    text-align: right;
}

.sign-up .container {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.sign-up .container .box {
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 75px;
}

.sign-up .container .text .one {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: bolder;
    color: white;
}

.sign-up .container .text {
    padding: 25px;
}

.sign-up .container .text .two {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-style: normal;
}

.sign-up .container .box .signup {
    padding: 25px;
    outline: 12px;
    align-items: center;
}

footer {
    padding:38px;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
